@font-face {
  font-family: 'VW Head';
  src: url('VWHead-Bold.eot'); /* IE9 Compat Modes */
  src: url('VWHead-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('VWHead-Bold.woff') format('woff'), /* Modern Browsers */
       url('VWHead-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('VWHead-Bold.svg#2ea5a7daec7c10fb636bfa14e2d81304') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  bold;
}

@font-face {
  font-family: 'VW Head';
  src: url('VWHead-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('VWHead-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('VWHead-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('VWHead-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('VWHead-BoldItalic.svg#c9d727b419196a6766dea27c3faa9383') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  bold;
}

@font-face {
  font-family: 'VW Head';
  src: url('VWHead-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('VWHead-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('VWHead-ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('VWHead-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('VWHead-ExtraBold.svg#b1f715dbf36fce550629706de1c5277c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  bolder;
}

@font-face {
  font-family: 'VW Head';
  src: url('VWHead-Light.eot'); /* IE9 Compat Modes */
  src: url('VWHead-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('VWHead-Light.woff') format('woff'), /* Modern Browsers */
       url('VWHead-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('VWHead-Light.svg#38202aee7e44471b7a67b891523d1849') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  lighter;
}

@font-face {
  font-family: 'VW Head';
  src: url('VWHead-Regular.eot'); /* IE9 Compat Modes */
  src: url('VWHead-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('VWHead-Regular.woff') format('woff'), /* Modern Browsers */
       url('VWHead-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('VWHead-Regular.svg#6a35f56ab0c7e743907370496c3bb4a1') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'VW Head';
  src: url('VWHead-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('VWHead-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('VWHead-RegularItalic.woff') format('woff'), /* Modern Browsers */
       url('VWHead-RegularItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('VWHead-RegularItalic.svg#d28f021c44532a7af6ad185002fac06f') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  normal;
}

@font-face {
  font-family: 'VW Text';
  src: url('VWText-Bold.eot'); /* IE9 Compat Modes */
  src: url('VWText-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('VWText-Bold.woff') format('woff'), /* Modern Browsers */
       url('VWText-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('VWText-Bold.svg#c4779af74e7d00c5d39f5f3e88f43ac1') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  bold;
}

@font-face {
  font-family: 'VW Text';
  src: url('VWText-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('VWText-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('VWText-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('VWText-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('VWText-BoldItalic.svg#bd92c6b40dec16b4c2c850fa89a8a3f5') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  bold;
}

@font-face {
  font-family: 'VW Text';
  src: url('VWText-Light.eot'); /* IE9 Compat Modes */
  src: url('VWText-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('VWText-Light.woff') format('woff'), /* Modern Browsers */
       url('VWText-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('VWText-Light.svg#25a44527edb42755bd938f6f31fb8ca8') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  lighter;
}

@font-face {
  font-family: 'VW Text';
  src: url('VWText-Regular.eot'); /* IE9 Compat Modes */
  src: url('VWText-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('VWText-Regular.woff') format('woff'), /* Modern Browsers */
       url('VWText-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('VWText-Regular.svg#016666b8cad53e4594351f7f1a72ebfc') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'VW Text';
  src: url('VWText-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('VWText-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('VWText-RegularItalic.woff') format('woff'), /* Modern Browsers */
       url('VWText-RegularItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('VWText-RegularItalic.svg#12d233840da9a869e02bdc7d5b7cafd9') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  normal;
}

