.area {
  font-size: 15px;
  font-family: "VW Text";
  color: black;
  line-height: 1.2;
  text-align: left;
}


input.btn{
    margin-top:50px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    float:none;
    text-decoration: none;
}

a, a *{
    text-decoration: none;
}

a:visited input { text-decoration: none; color:white; }
a:hover input { text-decoration: none; color:white; }
a:focus input { text-decoration: none; color:white; }
a:hover input, a:active input { text-decoration: none; color:white; }