*{
    padding: 0px;
    margin:0px;
    border:none;
}

body{
    background-image:url(download.jpg);
    background-position: 52.5% top;
    background-size: 1410px auto;
    background-repeat: no-repeat;
    
    font-size: 20px;
    font-family: "VW Head";
    line-height: 1.2;
    text-align: center;
}

.area{
    position:relative;
    width:560px;
    /*min-height:560px;*/
    background-image: url("area.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-left:auto;
    margin-right:auto;
    margin-top:472px;
    margin-bottom: 50px;
    
    padding: 50px;
    box-sizing:border-box;
}

.area:before{
    content:" ";
    display: inline-block;
    position:absolute;
    
    top:0px;
    left:0px;
    
    width: calc(60vmin * .5);
    height: calc(51.1vmin * .5);

    background-image:url(aguia.png);
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    
    
    transform: translate3d(-43.6%, -77.2%, 0px)
    
}

input.text{
    box-sizing: border-box;
    padding: 0px 1em 0px 1em;
    height:57px;
}

input.btn{
    height:43px;
    display:inline-block;
    background-color: #e86623;
    outline: none;
    border:none;
    width:150px;
    float:right;
    font-size: 21px;
    
    font-family: "VW Head";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    color:white;
    cursor:pointer
}

.checker{
    width: 1em;
    height: 1em;
    background-color: white;
    display: inline-block;
    position: relative;
    top:.12em;
    outline: .1px solid gray;
    margin-right:10px;
}

.checker.ativo:after{
    background-color: #e86623;
    content:"";
    width: 60%;
    height: 60%;
    position: absolute;
    left: 20%;
    top: 20%;
}

@media (min-width: 1410px) {
    body{
        background-size: 100% auto;
    }
    
    .area{
        margin-top:33vw;
    }
    
}

@media (max-width: 640px) {
    .area{
        padding:20px;
        width:80%;
        /*min-height:80vw;*/
    }   
}